    <table class="table table-hover">
        <tr>
            <td width="70px">
		    <h1> {{ recipe.name }}</h1>
		    <h2> {{ recipe.subtext }}</h2>
		    <p>	Zeit: {{ recipe.time}} Minuten </p>
		    <p> {{ recipe.saison}} </p>
		    <p> {{ recipe.making }}
		<h3> Zutaten </h3>
		<p>{{ recipe.ingred1 }}</p>

		{% if recipe.ingred2 != None %}
		<p>{{ recipe.ingred2 }}</p>
		{% endif %}
		{% if recipe.ingred3 != None %}
		<p>{{ recipe.ingred3 }}</p>
		{% endif %}
		{% if recipe.ingred4 != None %}
		<p>{{ recipe.ingred4 }}</p>
  		{% endif %}
		{% if recipe.ingred5 != None %}
		<p>{{ recipe.ingred5 }}</p>
		{% endif %}
		{% if recipe.ingred6 != None %}
		<p>{{ recipe.ingred6 }}</p>
		{% endif %}		
		{% if recipe.ingred7 != None %}
		<p>{{ recipe.ingred7 }}</p>
		{% endif %}
		{% if recipe.ingred8 != None %}
		<p>{{ recipe.ingred8 }}</p>
		{% endif %}

		{% if recipe.ingred10 != None %}
		<p>{{ recipe.ingred10 }}</p>
		{% endif %}

		{% if recipe.ingred11 != None %}
		<p>{{ recipe.ingred11 }}</p>

		{% endif %}
		{% if recipe.ingred12 != None %}
		<p>{{ recipe.ingred12 }}</p>

		{% endif %}
		{% if recipe.ingred13 != None %}
		<p>{{ recipe.ingred13 }}</p>
		{% endif %}

		{% if recipe.ingred14 != None %}
		<p>{{ recipe.ingred14 }}</p>
		{% endif %}
 
		{% if recipe.ingred15 != None %}
		<p>{{ recipe.ingred15 }}</p>
		{% endif %}


		{% if recipe.ingred16 != None %}
		<p>{{ recipe.ingred16 }}</p>
		{% endif %}


		{% if recipe.ingred17 != None %}
		<p>{{ recipe.ingred17 }}</p>
		{% endif %}

		{% if recipe.ingred18 != None %}
		<p>{{ recipe.ingred18 }}</p>
		{% endif %}


		{% if recipe.ingred19 != None %}
		<p>{{ recipe.ingred19 }}</p>
		{% endif %}



		{% if recipe.ingred20 != None %}
		<p>{{ recipe.ingred20 }}</p>
		{% endif %}


		<h3> Schritte </h3>


		<p>{{ recipe.steps1 }}</p>

		{% if recipe.steps2 != None %}
		<p>{{ recipe.steps2 }}</p>
		{% endif %}
		{% if recipe.steps3 != None %}
		<p>{{ recipe.steps3 }}</p>
		{% endif %}
		{% if recipe.steps4 != None %}
		<p>{{ recipe.steps4 }}</p>
		{% endif %}
		{% if recipe.steps5 != None %}
		<p>{{ recipe.steps5 }}</p>
		{% endif %}
		{% if recipe.steps6 != None %}
		<p>{{ recipe.steps6 }}</p>
		{% endif %}		
		{% if recipe.steps7 != None %}
		<p>{{ recipe.steps7 }}</p>
		{% endif %}
		{% if recipe.steps8 != None %}
		<p>{{ recipe.steps8 }}</p>
		{% endif %}

		{% if recipe.steps9 != None %}
		<p>{{ recipe.steps9 }}</p>
		{% endif %}
		{% if recipe.steps10 != None %}
		<p>{{ recipe.steps10 }}</p>
		{% endif %}

		{% if recipe.steps11 != None %}
		<p>{{ recipe.steps11 }}</p>

		{% endif %}
		{% if recipe.steps12 != None %}
		<p>{{ recipe.steps12 }}</p>

		{% endif %}
		{% if recipe.steps13 != None %}
		<p>{{ recipe.steps13 }}</p>
		{% endif %}

		{% if recipe.steps14 != None %}
		<p>{{ recipe.steps14 }}</p>
		{% endif %}
 
		{% if recipe.steps15 != None %}
		<p>{{ recipe.steps15 }}</p>
		{% endif %}


		{% if recipe.steps16 != None %}
		<p>{{ recipe.steps16 }}</p>
		{% endif %}


		{% if recipe.steps17 != None %}
		<p>{{ recipe.steps17 }}</p>
		{% endif %}

		{% if recipe.steps18 != None %}
		<p>{{ recipe.steps18 }}</p>
		{% endif %}


		{% if recipe.steps19 != None %}
		<p>{{ recipe.steps19 }}</p>
		{% endif %}



            </td>
        </tr>
    </table>

